{% extends 'components/layout.html' %}

{% block title %}Add Lecture{% endblock title %}

{% block content %}
<div class="row-fluid p-2" style="margin-top:2rem;">
    <div class="col-lg-6 mx-auto">
        <form method="POST">
            {{form.hidden_tag()}}
            <div class="form-group">
                <fieldset id="subject-field">
                    {{form.subject.label}}
                    {{form.subject(class="form-control", placeholder="Subject of the lecture")}}
                </fieldset>
                <fieldset id="date-field">
                    {{form.start_date.label}}
                    {{form.start_date(class='datepicker')}}
                    {{form.end_date.label}}
                    {{form.end_date(class='datepicker')}}
                </fieldset>
                <fieldset id="description-field">
                    {{form.description.label}}
                    {{form.description(class="form-control", placeholder="Description of the lecture")}}
                </fieldset>
                <fieldset id="price-field">
                    {{form.price.label}}
                    {{form.price(class="form-control", placeholder="Price of the lecture")}}
                </fieldset>
                <br>
                {{ form.submit_button(class='btn btn-info btn-block')}}
            </div>
        </form>
    </div>
</div>
{% endblock content %}