{% extends 'components/layout.html' %}
{% block title %} Home {% endblock title %}

{% block content %}
<section class="vh-100" id="mainsection">
    <div class="container-fluid custom">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="../static/images/study1.png" class="img-fluid" alt="Study Image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4" id="loginform">
                {% if current_user.is_authenticated %}
                <h1>Hello, {{current_user.username}}!</h1>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}
